# Environment Variables
# The app works out-of-the-box with default public BSC RPC & contract config.
RPC_URL=https://bsc-dataseed.binance.org/
USDT_CONTRACT_ADDRESS=0x55d398326f99059fF775485246999027B3197955
ADMIN_SECRET_PIN=7788
PAYOUT_HOT_WALLET_PRIVATE_KEY=
DEPOSIT_RECEIVING_WALLET=
